@import "https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap";
html {
	height: 100%;
}
body {
	height: 100%;
	display: grid;
	background: #fff;
	font-family: 'Manrope', sans-serif;
}